@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
    color: #333;
    overflow-x: hidden;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
 
:root {
    --primary-color: #3685fb;
    --primary-color-dark: #2f73d9;
    --secondary-color: #fafcff;
    --text-dark: #0d213f;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;
  }


  .nav-link button{
    display: inline-block;
  /* width:5rem; */
  /* height:3.6rem; */
  border:solid rgb(133, 127, 127) 0.03rem;
  padding:0.5rem 2rem;
  font-size: 1.4rem;
  margin:0 0.6rem;
  border-radius: 2rem;
  color:black;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  /* overflow:hidden; */
  z-index: 8;
  & a{
    padding-bottom: rem;
    text-decoration: none;
    color:black;
    z-index: 10;
    /* position:absolute; */
    position: relative;

  }
}

 

 
.nav-link button{
  transition: all 0.3 ease ;
  overflow: hidden;
  z-index: 8;
  background-color: var(--secondary-color);

}
 
  

.nav-link button::after{
    content:"";
    width:100%;
    height:100%;
    border-radius: 50%;
    position: absolute;
    left:0;
     bottom:-100%;
    background-color: #26A69A;
    transition: all 0.3s ease;
    /* color:white; */
    z-index: 3;
}
.nav-link button:hover a {
  /* overflow: hidden; */
  color:white;
}
.nav-link button:hover::after {
    /* background-color: transparent; */
    border-radius: 0;
    bottom:0;
    /* color:white; */
  
}
.gallery2{
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    
    row-gap:30px;
    margin-left: auto;
    
  gap:10px;
    margin-right: auto;
   
}

 .svgback{
  backdrop-filter: blur(29px);
  filter: blur(100px);
 }

.gallery-item{
    margin-left: auto;
    margin-right:auto;
    overflow: hidden;
     
   & img{
     width: 600px;
     height:200px;
     border-radius: 10px;
   }
}


.rounded-rec1{
background-color: #bad3d2;
z-index: 100;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;


}

.rounded-rec2{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #bad3d2;
    justify-self: end;
    
}

.rec1-cont{
    position: absolute;
    right:0;
}



header {
    background-color: var(--secondary-color);
  }
  
  .header__container {
    min-height: 80vh; 
    /* margin-top: 10rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .header__image {
    position: relative;
  }
  
  .header__image img {
    position: absolute;
    top: 45%;
    left: 50%;
    border: 0.5rem solid var(--extra-light);
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .header__image img:nth-child(1) {
    max-width: 550px;
    transform: translate(-70%, -50%);
  }
  
  .header__image img:nth-child(2) {
    max-width: 350px;
    transform: translate(20%, -25%);
  }
  
  .header__content {
    display: flex;
    align-items: center ;
    justify-content: start;
  }
  
  .header__content > div {
    max-width: 80%;
    display: grid;
    gap: 1rem;
  }
  
  .header__content .sub__header {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .header__content h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 800;
    color: var(--text-dark);
  }
  
 